# Xmake cache
.xmake/
build/
python/infinilm/lib/*.so

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Python
__pycache__/
*.egg-info/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf

# txt
*.txt

*.http
