/deepseek_v4_vllm
/deepseek_v4_transformers
/deepseek_v4_sglang
/deepseek_v4_kernels
/sglang_layers

.clangd
*.cpp.bak_*

# Xmake cache
.xmake/
build/
python/infinilm/lib/*.so

# MacOS Cache
.DS_Store

# Vscode
.vscode/

*.sh
model_weight/

# Python
__pycache__/
*.egg-info/

# Log
*.log

# Cache
.cache/

# JSON
*.json

#GGUF
*.gguf

# txt
*.txt

*.http

*.nsys-rep
.gitignore
