# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Python
__pycache__/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf

# txt
*.txt

*.http

#weight_analyse
weight_analyse/

#llada_debug
llada_debug/
